

@{
    ViewBag.Title = "Reports";
}


<h1 style="margin-top:50px;font-family:Arial;font-size:35px; margin-bottom:50px;padding-top:45px; text-align:center;color:cornflowerblue"><b></b></h1>
<h1 style="margin-top:50px;font-family:Arial;font-size:35px; margin-bottom:50px;padding-top:45px; text-align:center;color:cornflowerblue"><b>REPORTS</b></h1>

<table class="table table-bordered table-condensed">
    <tr>

        <td>
            <li>@Html.ActionLink("Admin Buy Products", "AdminBuyProduct", "Reports")</li>
        </td>
    </tr>

    <tr>
        <td>
            <li>@Html.ActionLink("List Of Admin Food Items", "ListOfAdminFoodItems", "Reports")</li>
        </td>
    </tr>

    <tr>
        <td>
            <li>@Html.ActionLink("List Of Chefs", "ListOfChefs", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("List Of Orders", "ListOfOrders", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("Most Demanding Food Item", "MostDemandingFoodItem", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("Not Done Orders", "NotDoneOrders", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("Customers With Maximum Orders", "CustomersWithMaximumOrders", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("Orders In A Day", "OrdersInADay", "Reports")</li>
        </td>
    </tr>
    <tr>
        <td>
            <li>@Html.ActionLink("List Of Suppliers", "ListOfSuppliers", "Reports")</li>
        </td>
    </tr>
    
</table>



