@model foodcorner.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<html>
<head>
    <meta charset="utf-8">
    <title>Register </title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/Content/csslr/nunito-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Content/csslr/style.css" />
    <link rel="stylesheet" href="~/login/css/style.css">
    <link rel="stylesheet" href="~/login/css/colors/blue.css">
</head>
<body class="form-v6" style="padding-top:20px">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="~/Content/imageslr/register.jpg" alt="form">
            </div>
            <form class="form-detail" action="#" method="post">
                <h2>Register Form</h2>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="account-type">
                        <div style="color:black;padding-top:20px">
                            <input type="radio" name="account_type_radio" id="Customer-radio" value="Customer" class="account-type-radio" checked />
                            <label for="Customer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i>Foody</label>
                        </div>

                        <div style="color:black;padding-left:5px;padding-top:20px">
                            <input type="radio" name="account_type_radio" id="Chef-radio" value="Chef" class="account-type-radio" checked />
                            <label for="Chef-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Chef</label>
                        </div>

                        <div style="color:black;padding-top:20px">
                            <input type="radio" name="account_type_radio" id="Deliverer-radio" value="Deliverer" class="account-type-radio" checked />
                            <label for="Deliverer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i>Deliverer</label>
                        </div>
                    </div>


                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.TextBoxFor(model => model.FName, new { @class = "form-control", @placeholder = "First Name" })

                    </div>

                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.TextBoxFor(model => model.LName, new { @class = "form-control", @placeholder = "Last Name" })

                    </div>
                    <br />
                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.TextBoxFor(model => model.Number, new { @class = "form-control", @placeholder = "Phone Number" })

                    </div>

                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })

                    </div>
                    <div class="form-row" style="color:black;padding-left:20px">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })

                    </div>
                    <div class="form-row-last">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>


                }
            </form>

        </div>

    </div>

</body>


</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/login/js/jquery-3.3.1.min.js"></script>
<script src="~/login/js/jquery-migrate-3.0.0.min.js"></script>
<script src="~/login/js/mmenu.min.js"></script>
<script src="~/login/js/tippy.all.min.js"></script>
<script src="~/login/js/simplebar.min.js"></script>
<script src="~/login/js/bootstrap-slider.min.js"></script>
<script src="~/login/js/bootstrap-select.min.js"></script>
<script src="~/login/js/snackbar.js"></script>
<script src="~/login/js/clipboard.min.js"></script>
<script src="~/login/js/counterup.min.js"></script>
<script src="~/login/js/magnific-popup.min.js"></script>
<script src="~/login/js/slick.min.js"></script>
<script src="~/login/js/custom.js"></script>

