@model IEnumerable<foodcorner.Models.PlaceOrder>


@{
    ViewBag.Title = "View Orders";
}

<h2>Index</h2>

<p style="margin-top:50px;font-family:Arial;font-size:15px; margin-bottom:25px;padding-top:70px;padding-left:30px; text-align:left"><b> Delivery Teams</b></p>

<table class="table">
    <tr>
        <th style="font-family:Arial;font-size:24px">
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th style="font-family:Arial;font-size:24px">
            @Html.DisplayNameFor(model => model.OrderDetail.Customer.Name)
        </th>

        <th style="font-family:Arial;font-size:24px">
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th style="font-family:Arial;font-size:24px">
            @Html.DisplayNameFor(model => model.Feedback)
        </th>

        <th style="font-family:Arial;font-size:24px">
            @Html.DisplayNameFor(model => model.OrderDetail.State)
        </th>

        <th style="font-family:Arial;font-size:24px"> MANAGE </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="font-family:Arial;font-size:24px">
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td style="font-family:Arial;font-size:24px">
                @Html.DisplayFor(modelItem => item.OrderDetail.Customer.Name)
            </td>
            <td style="font-family:Arial;font-size:24px">
                @Html.DisplayFor(modelItem => item.Bill)
            </td>
            <td style="font-family:Arial;font-size:24px">
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>

            <td style="font-family:Arial;font-size:24px">
                @Html.DisplayFor(modelItem => item.OrderDetail.State)
            </td>
            <td style="font-family:Arial;font-size:24px">
                @Html.ActionLink("Assign Order To Chef", "AssignOrderr", new { id = item.OrderId  }) |
                @Html.ActionLink("Pass Order To Deliverer", "PassOrderr", new { id = item.OrderId }) |
                @Html.ActionLink("Order Detail", "OrderDet", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
